[run]
branch = True
source = drf_kit
omit = */test_app/*

[report]
exclude_lines =
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:

[html]
directory = html-coverage
